[Unit]
Description=Application launch booster for Qt5/QtQuick2
After=xorg.target
Requires=dbus.socket xorg.target

[Service]
Type=notify
ExecStart=/usr/libexec/mapplauncherd/booster-qtquick2 --systemd
