[Unit]
Description=Application launch booster for Qt5
After=xorg.target
Requires=dbus.socket xorg.target

[Service]
Type=notify
ExecStart=/usr/libexec/mapplauncherd/booster-qt5 --systemd
